{{#section 'stylesheets'}}
<stylesheet src="/stylesheets/style.css"></stylesheet>
<stylesheet src="/stylesheets/estilos.css"></stylesheet>
{{/section}}
<div class="p-3">
  <div class="row justify-content-center">
    <section class="text-center col-12 col-sm-6">
      <form class="form-group" action="/admin/ptax" method="post">
        <label for="ptax-value"> Insira aqui o valor do PTAX a ser atualizado na plataforma:</label></br>
        <div class="row justify-content-center">
          <input type="number" step="0.0001" class="form-control col-8 col-sm-6 mr-1" name="ptax">
          <button type="submit" class="btn btn-success">Salvar</button>
        </div>
      </form>
    </section>

    <section class="text-center col-12 col-sm-6">
      <form class="form-group" action="/admin/dollar" method="post">
        <label for="usd-value"> Insira aqui o valor do dólar a ser atualizado na plataforma:</label></br>
        <div class="row justify-content-center">
          <input type="number" step="0.0001" class="form-control col-8 col-sm-6 mr-1" name="usd">
          <button type="submit" class="btn btn-success">Salvar</button>
        </div>
      </form>
    </section>
  </div>

  <div class="row justify-content-center">

    <div onclick="location.href = '/admin/transaction'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
      <i class="fas fa-barcode fa-lg ml-3 mr-3 float-left"></i>
      <span class="font-light float-left">Boletos pendentes</span>
      <i class="fas fa-angle-right fa-lg float-right"></i>
    </div>

    <div onclick="location.href = '/admin/requisitions/users'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
      <i class="fas fa-user-plus fa-lg ml-3 mr-2 float-left"></i>
      <span class="font-light float-left">Requisições de cadastros</span>
      <i class="fas fa-angle-right fa-lg float-right"></i>
    </div>

    <div onclick="location.href = '/admin/requisitions/products'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
      <i class="fas fa-cart-plus fa-lg ml-3 mr-3 float-left"></i>
      <span class="font-light float-left">Requisições de produtos</span>
      <i class="fas fa-angle-right fa-lg float-right"></i>
    </div>

    <div onclick="location.href = '/admin/users'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
      <i class="far fa-address-card fa-lg ml-3 mr-3 float-left"></i>
      <span class="font-light float-left">Usuários</span>
      <i class="fas fa-angle-right fa-lg float-right"></i>
    </div>

    <div onclick="location.href = '/admin/products'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
      <i class="fas fa-shopping-cart fa-lg ml-3 mr-3 float-left"></i>
      <span class="font-light float-left">Produtos</span>
      <i class="fas fa-angle-right fa-lg float-right"></i>
    </div>


    <div onclick="location.href = '/groups'"  class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
      <i class="fas fa-users fa-lg ml-3 mr-3 float-left"></i>
      <span class="font-light float-left">Grupos</span>
      <i class="fas fa-angle-right fa-lg float-right"></i>
    </div>

    <div onclick="location.href = '/chems'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
      <i class="fas fa-flask fa-lg ml-3 mr-3 float-left"></i>
      <span class="font-light float-left">Princípios Ativos</span>
      <i class="fas fa-angle-right fa-lg float-right"></i>
    </div>

    <div onclick="location.href = '/newsletter'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
      <i class="fas fa-envelope fa-lg ml-3 mr-3 float-left"></i>
      <span class="font-light float-left">Newsletter</span>
      <i class="fas fa-angle-right fa-lg float-right"></i>
    </div>

    <div onclick="location.href = 'admin/offers'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
      <i class="fas fa-money-bill fa-lg ml-3 mr-3 float-left"></i>
      <span class="font-light float-left">Ofertas</span>
      <i class="fas fa-angle-right fa-lg float-right"></i>
    </div>

    <div onclick="location.href = 'admin/franchiseePayment'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
      <i class="fas fa-dollar-sign fa-lg ml-3 mr-3 float-left"></i>
      <span class="font-light float-left">Taxas dos franqueados</span>
      <i class="fas fa-angle-right fa-lg float-right"></i>
    </div>
  </div>
</div>
{{#section 'scripts'}}
{{/section}}
