{{#section 'stylesheets'}}
{{/section}}

  <div class="text-center">
    <div class="pb-3 gradient-background text-white">
      <h3 class="text-center font-black">Mudar senha</h3>
    </div>
  </div>
  <div class="form-group row justify-content-center">
    <form action="/user/change-password" method="post">
        <div class="text-center row">
          <div class="text-center">
            <p class="row col text-black mt-4">Senha atual:</p>
            <input type="password" class="form-control font-light" minlength="8" name="user[password]" required></input>
            <p class="row col text-bold mt-4">Nova senha:</p>
            <input name="user[newPassword]" type="password" class="form-control font-light" minlength="8" id="password" required></input>
            <p class="row col text-bold mt-4">Confirme a nova senha:</p>
            <input type="password" class="form-control font-light" minlength="8" id="confirmPassword" required></input>
            </div>
          </div>
          <button type="submit" class="col pure-button pure-button-primary btn btn-default bg-green text-dark font-light text-light mt-4">Enviar</button>
      </form>
    </div>

{{#section 'scripts'}}
<script src="/javascripts/signup.js"></script>
{{/section}}
