{{#section 'stylesheets'}}
{{/section}}

<div class="text-center p-3 gradient-background text-white">
  <h3 class="font-black">Editar princípio ativo</h3>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <div class="align-middle">
        <form action="/chems/{{id}}?_method=PUT" method="POST">
          <div class="form-group">
            <label for="product-name">Nome</label>
            <div class="input-group">
              <input id="product-name" type="text" name="name" class="form-control font-book mr-2" value="{{name}}" placeholder="{{name}}" id="name">
              <button class="btn bg-green text-light2" type="submit">Salvar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>

{{#section 'scripts'}}
{{/section}}
