<!-- Here you can add extra CSS files to the page -->
{{#section 'stylesheets'}}
<link rel='stylesheet' href='/stylesheets/EXEMPLO.css'>
<link rel="manifest" href="/manifest.json">
{{/section}}

<!-- Here you can write your beautiful HTML code -->
<div class="exemplo">
  Eu sou a sua página maravilhosa :)
</div>

<!-- Here you can add extra javascripts files to the page -->
{{#section 'scripts'}}
<script src="/javascripts/EXEMPLO.js"></script>
{{/section}}
