<!DOCTYPE html>

<html>
<head>
  <title>{{ title }}</title>   <!-- título da aba da página*/ -->
  <link rel='stylesheet' href='/stylesheets/style.css'>
  <link rel='stylesheet' href='/stylesheets/estilos.css'>
  <link rel="manifest" href="/manifest.json">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
  {{{_sections.stylesheets}}}

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>


  <!-- NavBar -->
  <header class="bg-dark">
    <h1 class="d-none">MegaPool</h1>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
      <a href="/site/">
        <img class="ml-2 mt-2 navbar-brand text-center pr-3" src="/images/logo menor.png" alt="MegaPool"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link pr-2" href="/site/about">Sobre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link pr-2" href="/site/franchisee" onkeyup="">Franqueado</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/site/contact">Contato</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

  {{{ body }}}


    <div class="agro-alert col-12 col-lg-4 col-md-6 margin-flash">
      {{> messages}}
    </div>


  <script src="/javascripts/jquery.js" charset="utf-8"></script>
  <script src="/typeahead/typeahead.bundle.min.js"></script>
  <script src="/bootstrap/js/bootstrap.bundle.min.js" charset="utf-8"></script>
  <script src="/javascripts/navbar.js" charset="utf-8"></script>
  {{{_sections.scripts}}}
</body>

<footer class="bg-dark mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form action="/newsletter" method="post">
          <div class="row justify-content-center form-row" id="form-nl">
            <label><p class="text-dark2"> Cadastre-se na nossa newsletter para ficar por dentro das novidades da plataforma: </label>
            </div>
            <div class="row justify-content-center form-row" id="form-nl">
              <div class="col-12 col-md-8">
                <input type="name" placeholder="Nome completo" class="form-control" name="newsletter[fullName]" id="name">
                <input type="email" placeholder="Email" class="form-control mt-2" name="newsletter[email]" id="mail">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-primary btn-block">Cadastre-se</button>
              </div>
            </div>
          </form>
        </div>

        <div class="col-12 col-md-4 mt-4">
          <img class="float-left grayscale footer-brand border-right pr-3 mr-3" src="/images/logo menor.png" alt="MegaPool">
          <div class="">
            <ul class="list-unstyled">
              <li><a class="text-dark2" href="/site/about">Sobre</a></li>
              <li><a class="text-dark2" href="/site/franchisee">Franqueado</a></li>
              <li><a class="text-dark2" href="/site/contact">Contato</a></li>
              <li></li>
              <li></li>

            </ul>
          </div>
        </div>

        <div class="col-12 col-md-4 mt-4">
          <div class="row justify-content-center">
            <a class="social facebook" href="https://www.facebook.com/megapoolagro"><i class="mt-2 fab fa-facebook-f fa-2x"></i></a>
            <a class="social twitter" href="https://twitter.com/megapoolagro"><i class="mt-2 fab fa-twitter fa-2x"></i></a>
            <a class="social linkedin" href="https://www.linkedin.com/company/megapoolagro"><i class="mt-2 fab fa-linkedin-in fa-2x"></i></a>
            <a class="social youtube" href="https://www.youtube.com/channel/UCJ42yAsesMyVJJsZUJt20pw"><i class="mt-2 fab fa-youtube fa-2x"></i></a>
          </div>
        </div>

        <div class="col-12 col-md-4 mt-4">
          <div class="text-left text-md-right text-dark2 mt-3">
            <ul class="list-unstyled">
              <li>Rua Gloria Senna, Sítio Cercado, nº 67. Curitiba-PR</li>
              <li>CEP: 81900-670</li>
              <li>Email: contato@megapool.com.br</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

</html>
