{{#section 'stylesheets'}}
{{/section}}

<h1 class="font2 mt-5 text-center">Erro!</h1>
<p class="zoom-area"><h6 class="text-center">{{error.message}}</h6>
  <h6 class="mb-5 text-center">Código: {{error.status}}</h6></p>
  <section class="error-container mobile-font">
    <span class="mobile-font"><span class="mobile-font">4</span></span>
    <span class="mobile-font">0</span>
    <span><span>4</span></span>
  </section>

  <footer>
    <small>
      <small>
        <a class="mr-4 float-right float-bottom" href="https://www.silocreativo.com/en/creative-examples-404-error-css/"> Créditos</a>
      </small>
    </small>
  </footer>

  {{#section 'scripts'}}
  {{/section}}
