{{#section 'stylesheets'}}
{{/section}}

<div class="position-absolute h-100 w-100 bg-dark pt-6">
  <div class="row justify-content-center mx-2">
    <div class="container col-12 col-sm-8 col-md-6 col-lg-4">
      <div class="p-3">
        <h5 class="text-light mt-5">Caso tenha esquecido sua senha, insira seu email e encaminharemos um link para recuperá-la.</h5>
      </div>
      <form class="" action="/recoverPassword" method="post">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Email" id="email" name="email">
        </div>
        <div class="form-group">
          <button type="submit" class="btn col-12 btn-default bg-green text-dark mx-auto d-block">Recuperar minha senha</button>
        </div>
      </form>
    </div>
  </div>
</div>

{{#section 'scripts'}}
{{/section}}
