{{#section 'stylesheets'}}
{{/section}}
<div class="p-3">
  <!-- Background -->
  <style>
  body{
  background-image: url('../images/dealer-bg.jpg');
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 100%), url('../images/dealer-bg.jpg');
  }
  </style>

  <!-- Buttons -->
  <div class="p-3">
    <div class="row justify-content-center">
      <div onclick="location.href = '/agroweb/login'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
        <i class="fas fa-cart-plus fa-lg ml-3 mr-4 float-left"></i>
        <span class="font-light float-left">Agroweb</span>
        <i class="fas fa-angle-right fa-lg float-right"></i>
      </div>
      <div onclick="location.href = '/user/orders'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
        <i class="fas fa-box fa-lg ml-3 mr-4 float-left"></i>
        <span class="font-light float-left">Viagem na Maionweb</span>
        <i class="fas fa-angle-right fa-lg float-right"></i>
      </div>
      <div onclick="location.href = '/offers/new'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
        <i class="fas fa-cart-arrow-down fa-lg ml-3 mr-4 float-left"></i>
        <span class="font-light float-left">PCE Web</span>
        <i class="fas fa-angle-right fa-lg float-right"></i>
      </div>
      <div onclick="location.href = '/user/offers'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
        <i class="fas fa-shopping-cart fa-lg ml-3 mr-4 float-left"></i>
        <span class="font-light float-left">Fitgroup Livel</span>
        <i class="fas fa-angle-right fa-lg float-right"></i>
      </div>
      <div onclick="location.href = '/user/sales'" class="btn-index col-lg-3 list-group-item pt-4 pb-4 mr-2 ml-2 mt-5 mobile-font2 text-center">
        <i class="fas fa-truck fa-lg ml-3 mr-4 float-left"></i>
        <span class="font-light float-left">Web Vet</span>
        <i class="fas fa-angle-right fa-lg float-right"></i>
      </div>
    </div>
  </div>
</div>
<!-- end Buttons -->

{{#section 'scripts'}}
{{/section}}
