body {
    background-image: url('../images/bg-g.jpg');
    background-size: cover;
    background-color: #dbdbdb;

    background-position: center top;
    background-repeat: no-repeat;
}

@media (max-width: 1200px){
  body {

    background-image: url('../images/bg-md.jpg');
  }
}
@media (max-width: 820px){
  body {
    background-image: url('../images/bg-sm.jpg');
  }
}

@media (max-width: 620px){
  body {
    background-image: url('../images/bg-xsm.jpg');
  }
}

@media (max-width: 410px){
  body {
    background-image: url('../images/bg.jpg');
  }
}
