body {
  background-color: #232323;
  height: 100vh
}

@media (min-width: 720px) {
  body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    font-family: 'Dosis', serif;

    //background-position: center top;
    background-repeat: no-repeat;
  }
}
