{{#section 'stylesheets'}}
<link rel='stylesheet' href='/stylesheets/home.css'>
{{/section}}

<!-- NavBar -->
<header class="bg-dark">
  <h1 class="d-none">MegaPool</h1>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a href="/site/">
      <img class="ml-2 mt-2 navbar-brand text-center pr-3" src="/images/logo menor.png" alt="MegaPool"></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link pr-2" href="/site/about">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pr-2" href="/site/franchisee">Franqueado</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/site/contact">Contato</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- end NavBar -->


  <div class="container mb-5">
    <div class="pl-2 pr-2 row mb-5" id="contact">

      <div class="col-12">
        <div class="col-12 mt-5 p-3 text-center">
          <h1>Sobre a MegaPool</h1>
        </div>

        <div class="col-12 text-justify">
          <p>A MEGAPOOL, nasce de um sonho de valorizar a pessoa mais simples de todo o processo produtivo, o produtor rural, as fusões de grandes indústrias fabricantes de insumos ocorridas atualmente mostram a todo o setor agrícola toda a força que tem quando se é grande, porém o produtor rural mesmo sendo a peça mais importante de toda a cadeia, quando está sozinho tem pouca força nesse mercado.</p>
          <p>Oferecer força ao produtor rural através da união do setor é o principal objetivo da MEGAPOOL, porém como todo negócio bem-sucedido é necessário pessoas eficientes na gestão, a empresa possui profissionais especialistas em diversas áreas do agronegócio e também fora dele, assessorando, orientando, estudando os dados e realizando as compras dos insumos para seus usuários.</p>
          <p>Com sede principal em Curitiba-PR, e aproximadamente 1000 franqueados em todo o país a MEGAPOOL forma uma rede de profissionais que trabalham em prol do setor produtivo, unindo produtores rurais, revendas, indústrias e franqueados, pois acreditamos que todos devem andar juntos e ter sustentabilidade dentro do setor.</p>
          <p>Com tecnologia inovadora de PLATAFORMA WEB, a MEGAPOOL traz uma nova forma de operar na internet, unindo a praticidade de aplicativo a rapidez de uma página da internet, acessível em todos dispositivos móveis, sem ocupar espaço na memória de celulares e tablets.</p>
          <p>A MEGAPOOL é assim, simples, rápida, tecnológica e inovadora, mas sem perder a presença humana, como na agricultura, pois mais tecnológico que este mercado se torne nada substituirá o agricultor.</p>

          <div class="row mt-5n">
            <div class="col-md-4 col-12 animatable fadeInDown">
              <div class="text-center"><i class="fas fa-5x fa-flag-checkered"></i></div>
              <h5 class="text-center m-2">MISSÃO</h5>
              <p>Garantir a todos produtores rurais o direito de acessar as mais diferentes tecnologias em insumos a preços justos, torna-los compradores profissionais, disponibilizando uma grande estrutura de negociação e orientação baseada em informações geradas pela plataforma e trabalhadas por uma equipe capacitada, com o objetivo de baixar custos de produção e melhorar a produtividade.</p>
            </div>
            <div class="col-md-4 col-12 animatable fadeInDown">
              <div class="text-center"><i class="far fa-5x fa-compass"></i></div>
              <h5 class="text-center m-2">VISÃO</h5>
              <p>Acreditamos que os  grandes avanços na área agrícola principalmente em desenvolvimento de novos produtos e tecnologias só foi possível devido a busca do produtor rural por melhorias no processo produtivo, com a plataforma MEGAPOOL o produtor terá esse mesmo nível de tecnologia no acesso e aquisição de seus insumos seguindo uma tendência mundial, e com certeza a adesão a tecnologias da porteira pra fora, não será opcional e sim obrigatória para quem deseja se manter competitivo no setor AGRO.</p>
            </div>
            <div class="col-md-4 col-12 animatable fadeInDown .animationDelay">
              <div class="text-center"><i class="fas fa-5x fa-trophy"></i></div>
              <h5 class="text-center m-2">VALORES</h5>
              <ul>
                <li class="mb-5">Ética e respeitos às pessoas</li>
                <li class="mb-5">Inovação</li>
                <li class="mb-5">Dedicação total ao setor produtivo e aos profissionais que o compõe.</li>
              </ul>

            </div>
          </div>

          <div class="container text-center mb-5">
            <p>SEJA BEM VINDO AO FUTURO, SEJA BEM VINDO À MEGAPOOL.</p>
          </div>

        </div>
      </div>
    </div>
  </div>

    {{#section 'scripts'}}
    <script src="/javascripts/about.js"></script>
    {{/section}}
