{{#section 'stylesheets'}}
<link rel='stylesheet' href='/stylesheets/home.css'>
{{/section}}

<!-- NavBar -->
<header class="bg-dark">
  <h1 class="d-none">MegaPool</h1>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a href="/site/">
      <img class="ml-2 mt-2 navbar-brand text-center pr-3" src="/images/logo menor.png" alt="MegaPool"></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link pr-2" href="/site/about">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pr-2" href="/site/franchisee">Franqueado</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/site/contact">Contato</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- end NavBar -->
  <div class="container mb-5 mx-auto">
    <div class="row mb-5" id="contact">
      <div class="col-12">
        <div class="mt-5 p-3 text-center mx-auto">
          <h1>Contato</h1>
        </div>
        <!-- Contact Form -->
        <!-- novalidate -->
        <!-- <form action="/site/contact" method="POST" novalidate> -->
        <div class="mx-auto col-sm-12 col-md-10 col-lg-6">
          <div class="mx-auto">
            <form action="/site/contact" method="POST" novalidate>

              <div class="user-input">
                <br/>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-user"></i></div>
                  </div>
                  <input name="name" type="text" class="form-control input-text" required/>
                  <label class="floating-label text-dark2">Nome</label>
                </div>
              </div>

              <div class="user-input">
                <br/>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-at"></i></div>
                  </div>
                  <input name="clientEmail" type="email" class="form-control input-text" required/>
                  <label class="floating-label text-dark2">E-mail</label>
                </div>
              </div>

              <div class="user-input">
                <br/>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-envelope"></i></div>
                  </div>
                  <input name="subject" type="text" class="form-control input-text" required/>
                  <label class="floating-label text-dark2">Assunto</label>
                </div>
              </div>

              <div class="user-input">
                <br/>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-comment"></i></div>
                  </div>
                  <textarea name="content" type="text" class="form-control input-text" rows="3" required/></textarea>
                  <label class="floating-label text-dark2">Mensagem</label>
                </div>
              </div>

              <div class="row mt-5">
                <div class="col-12 col-sm-4 col-md-4 mx-auto">
                  <button type="submit" class=" btn w-100 bg-green text-white">Enviar</button>
                </div>
              </div>
            </form>
            <!-- end Contact Form -->
          </div>
        </div>
      </div>
    </div>
  </div>

    {{#section 'scripts'}}
    {{/section}}
