{{#section 'stylesheets'}}
<link rel='stylesheet' href='/stylesheets/home.css'>
{{/section}}

<!-- NavBar -->
<header class="bg-dark">
  <h1 class="d-none">MegaPool</h1>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a href="/site/">
      <img class="ml-2 mt-2 navbar-brand text-center pr-3" src="/images/logo menor.png" alt="MegaPool"></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link pr-2" href="/site/about">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pr-2" href="/site/franchisee">Franqueado</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/site/contact">Contato</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- end NavBar -->

  <div class="container-fluid bg-img1 h-100 py-5 mt-5 pt-3">
    <div class="text-center text-light mb-5 p-5 col-lg-12 col-sm-12 col-md-12">
      <h1 class="mb-4 font-black">VENHA SER MEGA.</h1>
      <h3>A MegaPool está contratando franqueados.</h3>
      <h4>Conheça a primeira plataforma online de negociação de insumos do Brasil e faça parte do nosso time.</h4>
      <img class="mt-5 pt-5"src="/images/logo menor.png" alt="Franqueado"></a>
      <div class="p-5"></div>
    </div>
  </div>
  <div class="container mb-5">
    <div class="row mb-5" id="contact">
      <div class="mt-5 pb-3 text-center mx-auto">
        <h1>Entenda como funciona o franqueado MEGAPOOL</h1>
      </div>
      <div class="mx-auto" align="center">
      </div>
      <div class="col-12">
        <h5 class="mt-4 mb-2">O QUE É?</h5>
        <p>O franqueado pode ser pessoal física ou Jurídica que atue no ramo agrícola, e que cumpra os seguintes requisitos:</p>
        <li>Possuir uma carteira de clientes ativos que possam migrar suas compras para a plataforma.</li>
        <li>O franqueado deve ter a aceitação do cliente para representá-lo na plataforma.</li>
        <li>Engenheiros Agrônomos, Técnicos Agrícolas, Representantes comerciais, vendedores autônomos, pequenas revendas, etc.</li>

        <h5 class="mt-4 mb-2">QUAL A FUNÇÃO DO FRANQUEADO?</h5>

        <p>O franqueado tem um ESCRITÓRIO VIRTUAL dentro da plataforma, para realizar o seu trabalho.</p>
        <li>Ele levanta a demanda de insumos dos clientes que atende.</li>
        <li>Insere essa demanda na plataforma, separada por produto e cliente.</li>
        <li>Faz a gestão desses volumes dentro do grupo de compra geral, através do seu   ESCRITÓRIO VIRTUAL, monitora as oscilações de preços, a oferta de determinados produtos, a mudança para produtos similares ou até mesmo fazer indicações baseadas em informações técnicas e tudo o que diz respeito as cotações de seus clientes.</li>
        <li>O franqueado deve fazer a ponte entre a plataforma e seus clientes, todas as informações de todos os seus clientes que serão centralizadas no seu ESCRITÓRIO VIRTUAL via relatórios que são passadas pela plataforma periodicamente.</li>
        <li>O objetivo é de orientar o cliente o momento certo para realizar o fechamento, acompanhar o pagamento dos pedidos e certificar da devida entrega dos produtos.</li>

        <h5 class="mt-4 mb-2">COMO O FRANQUEADO É REMUNERADO?</h5>

        <p>O franqueado é remunerado exclusivamente pela Plataforma MEGAPOOL e seus clientes não tem custo nenhum por esse serviço.</p>

        <p>EXISTEM DUAS  FORMAS DE REMUNERAÇÃO:
          O franqueado recebe sua remuneração em porcentagem do valor movimentado em seus clientes, a porcentagem varia de acordo com a categoria do produto.</p>

          <p>As comissões serão pagas ao franqueado após o pagamento do produto e a entrega realizada ao produtor.
            A PLATAFORMA MEGAPOOL pode pedir nota fiscal de prestação de serviço ao franqueado, para pagamento das comissões.</p>

            <p>Outra forma de remuneração que o franqueado pode ter direito é através do programa de fidelidade: MEGA PRÊMIO.</p>

            <p>Para ter direito de participar do programa, o franqueado deve ter conceito POSITIVO na plataforma, o que pode ser obtido pela forma de gestão do seu ESCRITÓRIO VIRTUAL, avaliado por 3 critérios:</p>
            <li>Rapidez nas trocas de informações e satisfação dos seus clientes.</li>
            <li>Não ter cancelamentos de cotações inseridas.</li>
            <li>Índice de recompra.</li>

            <p>O MEGA PRÊMIO, será explicado detalhadamente no momento da conclusão do cadastro.</p>


            <p>Outros benefícios dos Franqueados:</p>
            <li>O franqueado receberá periodicamente informações sobre oscilações no mercado em geral de preços de matérias primas dos insumos e tudo o que pode orientá-lo a tomar decisões para seus clientes.</li>
            <li>Informações técnicas sobre produtos passados diretamente pela indústria, bem como treinamentos sobre lançamentos de produtos.</li>
            <li>Os franqueados e os clientes dos franqueados receberão (brindes personalizados) do programa MEGA PRÊMIO com o objetivo de promover e fidelizar o uso dos produtos participantes do MEGA PRÊMIO.</li>

            <h5 class="mt-4 mb-2">Como obter a franquia</h5>

            <li>As franquias são limitadas para cada região de acordo com o potencial de vendas.</li>
            <li>A MEGAPOOL não vende as franquias, elas são alugadas pelo prazo de um ano sendo renovável após esse prazo, a renovação não é automática e leva em consideração a atuação do franqueado no ano anterior.</li>
            <li>O franqueado deverá preencher um pré cadastro, que será avaliado pela equipe da MEGAPOOL, sendo aprovado o interessado receberá o contrato de franqueado.</li>
            <li>O valor do aluguel anual é de R$ 1.200,00 (um mil e duzentos reais) a serem pagos via boleto bancário, em parcela única, após esse processo o franqueado terá sua senha liberada para operação no ESCRITÓRIO VIRTUAL.</li>

            <p>Havendo interesse em fazer a candidatura, clique <a href="../signup">aqui</a> para fazer seu pré-cadastro.</p>


          </div>
        </div>
      </div>

        {{#section 'scripts'}}
        {{/section}}
