{{#section 'stylesheets'}}
<link rel='stylesheet' href='/stylesheets/home.css'>
{{/section}}

  <!-- Banner -->
  <div class="container-fluid bg-img1 h-100">
    <div class="row text-center justify-content-center py-5 my-5">
      <div class=" py-5 my-5">
        <h1 class="slogan text-light">A primeira plataforma online de agronegócios do Brasil</h1>
      </div>
    </div>

    <div class="row text-center justify-content-center py-lg-5 my-lg-5">
      <div class="col-12 col-sm-8 col-md-4 py-lg-5 my-lg-5">
        <a class="w-100 btn btn-default bg-green text-white" href="/signup">Cadastrar-se</a>
      </div>
      <div class="col-12 col-sm-8 col-md-4 py-lg-5 py-2 my-lg-5">
        <a class="w-100 btn btn-default bg-green text-white" href="/login">Entrar</a>
      </div>
    </div>
  </div>
  <!-- end Banner -->

  <div class="container mb-5">
    <div class="row mb-5" id="about">
      <div class="col-12">
        <h5>O CADASTRO É OBRIGATÓRIO.</h5>
        <p>Atendendo as leis: 7.802/89 e 9.294/96, a plataforma MEGAPOOL é exclusiva para produtores rurais, indústria, distribuidores e profissionais do setor agrícola, não podendo atender população urbana ou pessoas físicas.</p>
      </div>
    </div>
  </div>

    {{#section 'scripts'}}
    {{/section}}
