{{#section 'stylesheets'}}
<link rel='stylesheet' href='/stylesheets/signup.css'>
{{/section}}

<div class="container text-light">
  <div class="row justify-content-center py-5">
    <div class="col-12 col-sm-8 col-md-6 col-lg-5 bg-dark-opacity rounded pt-2 py-5">
      <form action="/login" method="POST" novalidate>
        <div class="form-group">
          <label for="email" class="font-book">E-mail</label>
          <input type="email" class="form-control font-light" id="email" name="user[email]">
        </div>
        <div class="form-group">
          <label for="password" class="font-book">Senha</label>
          <input type="password" class="form-control font-light" id="password" name="user[password]">
        </div>
        <div class="form-group">
          <button type="submit" class="btn col-12 bg-green mx-auto d-block text-dark">Entrar</button>
        </div>
        <div class="w-100">
          <a class="text-light float-left" href="forgotPassword">Esqueci minha senha</a>
          <a class="text-light float-right" href="signup">Cadastrar-se</a>
        </div>
      </form>
    </div>
  </div>
</div>

{{#section 'scripts'}}
{{/section}}
