{{#section 'stylesheets'}}
<link rel='stylesheet' href='/stylesheets/signup.css'>
{{/section}}
<div class="col-md-8 mx-auto text-light mt-5">
  <div class="info col-12 col-sm-12 col-md-9 col-lg-6 mx-auto">
    <div class="row justify-content-center mt-5">
      <div class="col-12 bg-dark-opacity rounded mt-5">

        <!-- Escolha seu tipo -->
        <div class="row font-light">
          <div class="p-3">
            <h5>Escolha em qual tipo de usuário que deseja se cadastrar:</h5>
          </div>

          <div class="col-12">
            <label for="userType" class="">Tipo de usuário<span class="text-red"> *</span></label>
            <div class="form-group" id="user-type">
              <div class="btn-group-toggle col-12 px-0 mx-0" data-toggle="buttons">
                <button class="col-12 btn btn-secondary btn btn-sm border border-dark font-light">
                  <input type="radio" name="user[type]" id="industry" value="Indústria" required>Indústria
                </button>
                <button class="col-12 btn btn-secondary btn btn-sm border border-dark font-light">
                  <input type="radio" name="user[type]" id="producer" value="Produtor">Produtor
                </button>
                <button class="col-12 btn btn-secondary btn btn-sm border border-dark font-light">
                  <input type="radio" name="user[type]" id="franchisee" value="Franqueado">Franqueado
                </button>
                <button class="col-12 btn btn-secondary btn btn-sm border border-dark font-light">
                  <input type="radio" name="user[type]" id="dealer" value="Revendedor">Revenda
                </button>
              </div>
            </div>
          </div>
        </div>


        <!-- Para indústria -->
        <div class="form-group industry-option d-none font-light">
          <form action="/signup" class="pure-form" method="POST">

            <label for="name" class="mt-3">
              Nome completo
              <span class="text-red"> *</span>
            </label>
            <input type="text" class="bg-light form-control" name="user[name]" id="name" required>

            <label for="mail" class="mt-3">
              Email
              <span class="text-red"> *</span>
            </label>
            <input type="email" class="bg-light form-control" name="user[email]" id="mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>

            <label for="password" class="mt-3">Senha<span class="text-red"> *</span></label>
            <button type="button" class="btn btn-sm btn-success" data-placement="top" title="Digite uma senha com no mínimo 8 caracteres. Crie uma senha forte.">
              ?
            </button>
            <input type="password" class="bg-light form-control" name="user[password]" minlength="8" id="password" required>

            <label for="confirmPassword" class="mt-3">Confirme a senha<span class="text-red"> *</span></label>
            <input type="password" class="bg-light form-control" minlength="8" id="confirmPassword" required>

            <label for="doc" class="mt-3">CPF/CNPJ<span class="text-red"> *</span></label>
            <button type="button" class="btn btn-sm btn-success" data-placement="top" title="É possível criar apenas uma conta por CPF/CNPJ.">
              ?
            </button>
            <input type="number" class="bg-light form-control" name="user[doc]"id="doc" maxlength="11" pattern="[0-9]+$" placeholder="Apenas números" required>

            <label for="cep" id="cep" class="mt-3">CEP<span class="text-red"> *</span></label>
            <button type="button" class="btn btn-sm btn-success" data-placement="top" title="Digite apenas números. Assim que preencher, lembre de clicar no botão Pesquisar.">
              ?
            </button>
            <input type="search" class="bg-light form-control" name="user[address][cep]" id="cep" placeholder="Apenas números" maxlength="8" pattern="[0-9]+$" required>
            <div class="text-center mt-3">
              <button type="button" class="btn bg-green px-5 text-dark font-light" onclick="pesquisacep(cep.value)">Pesquisar</button>
            </div>

            <label for="name" class="mt-2">Rua<span class="text-red"> *</span></label>
            <input id="rua" name="user[address][street]" class="form-control" placeholder="" required="" type="text">

            <label for="number" class="mt-3">Número<span class="text-red"> *</span></label>
            <input type="text" class="bg-light form-control" name="user[address][number]" id="number" required>

            <label for="name" class="mt-3">Cidade<span class="text-red"> *</span></label>
            <input id="cidade" name="user[address][city]" class="form-control" placeholder="" required="" type="text">

            <label for="name" class="mt-3">Estado<span class="text-red"> *</span></label>
            <input id="estado" name="user[address][state]" class="form-control" placeholder="" required="" type="text">

            <input type="hidden" class="bg-light form-control" name="user[type]" value="Indústria" id="type" readonly>

            <label for="phone" class="mt-3">Telefone fixo<span class="text-red"> *</span></label>
            <button type="button" class="btn btn-sm btn-success" data-placement="top" title="Digite apenas números, que o texto se auto-formatará. Lembre-se do DDD da sua região. Ex: 22998769876">
              ?
            </button>
            <input type="tel" class="bg-light form-control" name="user[phone]"id="phone" maxlength="12" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## ####-####', this)" required >

            <label for="cellphone" class="mt-3">Celular<span class="text-red"> *</span></label>
            <button type="button" class="btn btn-sm btn-success" data-placement="top" title="Digite apenas números, que o texto se auto-formatará. Lembre-se do DDD da sua região. Ex: 22998769876">
              ?
            </button>
            <input type="tel" class="bg-light form-control" name="user[cellphone]"id="cellphone" maxlength="13" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## #####-####', this)" required>

            <div class="text-center mt-3">
              <a type="button" class="btn bg-green px-5 text-dark font-light" id="industryOption" name="button">Mais informações</a>
            </div>

            <label for="Fname" class="mt-3">Nome fantasia<span class="text-red"> *</span></label>
            <input type="text" class="bg-light form-control" name="user[fantasyName]" id="Fname" required>

            <label for="otherEmail" class="mt-3">E-mail de contato<span class="text-red"> *</span></label>
            <input type="email" class="bg-light form-control" name="user[secondaryEmail]"id="otherEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>

            <label for="responsible" class="mt-3">Quem ficará responsável pela conta MEGAPOOL<span class="text-red"> *</span></label>
            <input type="text" class="bg-light form-control" name="user[responsible][name]"id="responsible" required>

            <label class="mt-3">Tem condições de atender demandas imediatas (estoque)?<span class="text-red"> *</span></label>
            <div class="d-block text-center">
              <label><input type="radio" value="Sim" name="user[delivery][stock]">Sim</label>
              <label><input type="radio" value="Não" class="ml-5" name="user[delivery][stock]">Não</label>
            </div>

            <label for="acceptDeliver" class="mt-3">Aceita entregar a uma distância de até: <span class="text-red"> *</span></label>
            <div class="input-group-append">
              <input type="number" class="bg-light form-control" name="user[delivery][maxDistance]" min="0" step="1" id="acceptDeliver">
              <span class="input-group-text">km</span>
            </div>

            <label for="Lphone" class="mt-3">Telefone do responsável pela logística<span class="text-red"> *</span></label>
            <input type="tel" class="bg-light form-control" name="user[logistics][phone]"id="Lphone" maxlength="12" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## ####-####', this)" required>

            <label for="Lemail" class="mt-3">E-mail logística<span class="text-red"> *</span></label>
            <input type="email" class="bg-light form-control" name="user[logistics][email]"id="Lemail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>

            <label for="headquarter" class="mt-3">Município sede da matriz<span class="text-red"> *</span></label>
            <input type="text" class="bg-light form-control" name="user[headquarter]" id="headquarter" required>

            <label for="regionalResponsible" class="mt-3">Responsável pela empresa na região<span class="text-red"> *</span></label>
            <input type="text" class="bg-light form-control" name="user[regionalResponsible]" id="regionalResponsible">

            <label for="Rphone" class="mt-3">
              Telefone fixo do Responsável pela conta MEGAPOOL
              <span class="text-red"> *</span>
              <button type="button" class="btn btn-sm btn-success" data-placement="top" title="Digite apenas números, que o texto se auto-formatará. Lembre-se do DDD da sua região. Ex: 22998769876">
                ?
              </button>
            </label>


            <input type="tel" class="bg-light form-control" name="user[responsible][phone]"id="Rphone" maxlength="12" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## ####-####', this)" required>
            <label for="Rcellphone" class="mt-3">
              Celular do Responsável pela conta MEGAPOOL
              <span class="text-red"> *</span>
              <button type="button" class="btn btn-sm btn-success" data-placement="top" title="Digite apenas números, que o texto se auto-formatará. Lembre-se do DDD da sua região. Ex: 22998769876">
                ?
              </button>
            </label>

            <input type="tel" class="bg-light form-control" name="user[responsible][cellphone]"id="Rcellphone" maxlength="13" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## #####-####', this)" required>

            <label for="whereIsStock" class="mt-3">Onde possui o estoque físico mais próximo? <span class="text-red"> *</span></label>
            <input type="text" class="bg-light form-control" placeholder="Nome do município" name="user[whereIsStock]"id="whereIsStock" required>

            <label for="Istate" class="mt-3">Quais estados tem interesse e condições de atender?<span class="text-red"> *</span></label>
            <input type="text" class="bg-light form-control" name="user[interestedStates]"id="Istate" required>

            <label class="mt-3">Tem interesse em atender clientes diretos (com entregas fracionadas)?<span class="text-red"> *</span></label>
            <div class="d-block text-center">
              <label><input type="radio" value="Sim" name="user[delivery][fractional]">Sim</label>
              <label><input type="radio" value="Não" class="ml-5" name="user[delivery][fractional]">Não</label>
            </div>

            <label class="mt-3">Tem interesse em atender revendas?<span class="text-red"> *</span></label>
            <div class="d-block text-center">
              <label><input type="radio" value="Sim" name="user[delivery][dealer]">Sim</label>
              <label><input type="radio" value="Não" class="ml-5" name="user[delivery][dealer]">Não</label>
            </div>

            <label class="mt-3">Tem interesse em atender grupos de compras?<span class="text-red"> *</span></label>
            <div class="d-block text-center">
              <label><input type="radio" value="Sim" name="user[delivery][groups]">Sim</label>
              <label><input type="radio" value="Não" class="ml-5" name="user[delivery][groups]">Não</label>
            </div>

            <label class="mt-3">Tem interesse em atender repiques com entregas no máximo até 30 dias?<span class="text-red"> *</span></label>
            <div class="d-block text-center">
              <label><input type="radio" value="Sim" name="user[delivery][repechage]">Sim</label>
              <label><input type="radio" value="Não" class="ml-5" name="user[delivery][repechage]">Não</label>
            </div>

            <div class="row justify-content-center mt-4" id="form-buttons font-ligh">
              <div class="form-group col-12 row justify-content-between">
                <div class="termsOfUse">
                  <div class="text-center font-light">DIREITOS</div>
                  <ul>
                    <li class="font-light">Todas as indústrias cadastradas na plataforma terão o mesmo direito de anunciar seus produtos, o que vai determinar a escolha será o produto

                      que estará sendo ofertado e o preço oferecido, em caso de ofertas no mesmo preço, irá aparecer todas.</li>
                      <li class="font-light">Todos os pagamentos serão adiantados, antes da entrega, diretamente do cliente para a indústria, seguindo todos os passos necessários: proposta,
                        pedido, pagamento do boleto, envio do recibo e entregas dos produtos.</li>
                        <li class="font-light">A indústria sempre saberá quem são os compradores no momento do pedido, bem como outras informações que sejam relevantes podem ser solicitadas à
                          plataforma, para promover um pós venda e tentar fidelizar o cliente.</li>
                          <li class="font-light">A Industria tem o direito escolher se irá vender para clientes diretos, canais e grupos de compra, além disso se quer participar de vendas com
                            entregas rápidas em até 30 dias, safra ou safrinha de acordo com sua capacidade de fabricação e logística.</li>
                            <li class="font-light">TERÁ DIREITO DE PARTICIPAR DOS PROGRAMAS MEGA PRÊMIO E MEGA OPORTUNIDADE QUE
                              SERÁ EXPLICADO POSTERIORMENTE VIA E-MAIL.</li>
                              <li class="font-light">Tem o direito de receber relatórios periódicos de como anda suas operações na plataforma:  ofertas, demandas e cotações de seus produtos, bem
                                como algumas informações gerais que serão passadas pela plataforma (Pesquisa de Mercado).</li>
                              </ul>

                              <div class="text-center">DEVERES</div>
                              <ul>
                                <li class="font-light">Fica acordado que todos os valores de produtos anunciados na plataforma deverá ser em Dolár (U$) americano, sua conversão em reais acontecerá no momento
                                  da emissão do boleto pelo vendedor, sendo convertido pelo valor do Dolar PTAX de venda do dia anterior. Utilizando como referência valores fornecidos pelo Banco central
                                  do BRASIL.</li>
                                  <li class="font-light">A indústria tem o dever de cumprir com o que ofertar na plataforma: sob pena de lei, itens como; preços, volumes, entregas, além de manter sempre
                                    atualizado as ofertas dos produtos e confirmar o estoque a cada efetivação de pedido, etc.</li>
                                    <li class="font-light">Tem o dever de entregar os produtos diretamente aos clientes, com notas fiscais, receituário agronômico e orientação sobre local de devolução de
                                      embalagens vazias, além de se responsabilizar pelo pós venda.</li>
                                      <li class="font-light">Todos os produtos são ofertados com seus preços em DÓLAR, devendo ser convertido em REAIS no momento da emissão do boleto utilizando a cotação do PTAX
                                        do dia anterior, conforme a cotação do Banco Central do Brasil.</li>
                                        <li class="font-light">Dever estar ciente a regras que se aplica a vendas pela internet, de acordo com o código de defesa do consumidor:</li>
                                        <p class="font-light">O comprador tem o direito a arrependimento do negócio em um prazo de 7 dias após o recebimento da mercadoria (mesmo tendo pago antecipado) com o direito a
                                          receber todo o valor pago, sem burocracia, de acordo com o art: 49 da  lei CDC 8078/90.</p>
                                          <p class="font-light">A plataforma cobrará a comissão correspondente sobre as vendas no
                                            ato da compra.</p>
                                            <p class="font-light">PAGAR AS COMISSÕES Á PLATAFORMA, SOBRE O VOLUME DE VENDAS EFETIVADO, OS PAGAMENTOS SÃO REALIZADOS ATRAVÉS DE BOLETOS EMITIDOS NO MOMENTO EM QUE É
                                              FEITO A COMPRA À INDUSTRIA (não podendo ser cancelado), SUJEITO A PROTESTO E NEGATIVAÇÃO.</p>
                                            </div>
                                          </div>
                                        </div>

                                        <div class="form-group col-12 row justify-content-between mx-auto">
                                          <label class="mt-3 ml-2"><input type="checkbox" class="mr-4" name="checkbox" value="check" required>CONFIRMO OS DADOS ACIMA COMO VERDADEIROS E DESEJO RECEBER AS TABELAS DE
                                            COMISSÕES E TERMO(S) DE USO POR E-MAIL PARA DAR CONTINUIDADE AO MEU CADASTRO</label>
                                            <button type="submit" class="pure-button pure-button-primary col-6 btn btn-default bg-green text-dark mr-1 font-light">Enviar</button>
                                            <button type="reset" class="col btn btn-default bg-light text-dark font-light">Limpar</button>
                                          </div>
                                        </form>
                                      </div>

                                      <!-- Para produtores -->
                                      <div class="form-group producer-option d-none font-light">
                                        <form action="/signup" class="pure-form" method="POST">

                                          <label for="name" class="mt-3">Nome completo<span class="text-red"> *</span></label>
                                          <input type="text" class="bg-light form-control" name="user[name]" id="name" required>

                                          <label for="mail" class="mt-3">Email<span class="text-red"> *</span></label>
                                          <input type="email" class="bg-light form-control" name="user[email]" id="mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>

                                          <label for="password" class="mt-3">Senha<span class="text-red"> *</span></label>
                                          <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Digite uma senha com no mínimo 8 caracteres. Crie uma senha forte.">
                                            ?
                                          </button>
                                          <input type="password" class="bg-light form-control" name="user[password]" minlength="8" id="password" required>

                                          <label for="confirmPassword" class="mt-3">Confirme a senha<span class="text-red"> *</span></label>
                                          <input type="password" class="bg-light form-control" minlength="8" id="confirmPassword" required>

                                          <label for="doc" class="mt-3">CPF/CNPJ<span class="text-red"> *</span></label>
                                          <button type="button" class="btn btn-sm btn-success" data-placement="top" title="É possível criar apenas uma conta por CPF/CNPJ.">
                                            ?
                                          </button>
                                          <input type="number" class="bg-light form-control" name="user[doc]"id="doc" maxlength="11" pattern="[0-9]+$" placeholder="Apenas números" required>

                                          <label for="cep" class="mt-3">CEP<span class="text-red"> *</span></label>
                                          <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Digite apenas números. Assim que preencher, lembre de clicar no botão Pesquisar.">
                                            ?
                                          </button>
                                          <input type="search" class="bg-light form-control" name="user[address][cep]" id="cep1" placeholder="Apenas números" maxlength="8" pattern="[0-9]+$" required>
                                          <div class="text-center mt-3">
                                            <button type="button" class="btn bg-green px-5 text-dark font-light" onclick="pesquisacep(cep1.value)">Pesquisar</button>
                                          </div>

                                          <label for="name" class="mt-2">Rua<span class="text-red"> *</span></label>
                                          <input id="rua1" name="user[address][street]" class="form-control" placeholder="" required="" type="text">

                                          <label for="number" class="mt-3">Número<span class="text-red"> *</span></label>
                                          <input type="text" class="bg-light form-control" name="user[address][number]" id="number1" required>

                                          <label for="name" class="mt-3">Cidade<span class="text-red"> *</span></label>
                                          <input id="cidade1" name="user[address][city]" class="form-control" placeholder="" required="" type="text">

                                          <label for="name" class="mt-3">Estado<span class="text-red"> *</span></label>
                                          <input id="estado1" name="user[address][state]" class="form-control" placeholder="" required="" type="text">

                                          <input type="hidden" class="bg-light form-control" name="user[type]" value="Produtor" id="type" readonly>

                                          <label for="phone" class="mt-3">Telefone fixo<span class="text-red"> *</span></label>
                                          <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Digite apenas números, que o texto se auto-formatará. Lembre-se do DDD da sua região. Ex: 22998769876">
                                            ?
                                          </button>
                                          <input type="tel" class="bg-light form-control" name="user[phone]"id="phone" maxlength="12" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## ####-####', this)" required>

                                          <label for="cellphone" class="mt-3">Celular<span class="text-red"> *</span></label>
                                          <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Digite apenas números, que o texto se auto-formatará. Lembre-se do DDD da sua região. Ex: 22998769876">
                                            ?
                                          </button>
                                          <input type="tel" class="bg-light form-control" name="user[cellphone]"id="cellphone" maxlength="13" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## #####-####', this)" required>

                                          <div class="text-center mt-3">
                                            <a type="button" class="btn bg-green px-5 text-dark font-light" id="producerOption" name="button">Mais informações</a>
                                          </div>

                                          <label for="farm" class="mt-3">Nome da fazenda<span class="text-red"> *</span></label>
                                          <input type="text" class="bg-light form-control" name="user[farm][name]" id="farm">

                                          <label for="dist" class="mt-3">Distância aproximada da cidade até a fazenda<span class="text-red"> *</span></label>
                                          <div class="input-group-append">
                                            <input type="dist" class="bg-light form-control" name="user[farm][distanceToCity]" id="dist">
                                            <span class="input-group-text">km</span>
                                          </div>

                                          <label for="script" class="mt-3">Roteiro de entrega<span class="text-red"> *</span></label>
                                          <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Descreva o procedimento padrão das entregas de produtos na sua propriedade.">
                                            ?
                                          </button>
                                          <input type="text" class="bg-light form-control" name="user[farm][deliveryScript]" id="script">

                                          <label for="areaha" class="mt-3">Área plantada <span class="text-red"> *</span></label>
                                          <div class="input-group-append">
                                            <input type="number" class="bg-light form-control" name="user[farm][area]" id="areaha">
                                            <span class="input-group-text">ha</span>
                                          </div>

                                          <label for="soy" class="mt-3">Soja<span class="text-red"> *</span></label>
                                          <div class="input-group-append">
                                            <input type="number" class="bg-light form-control" name="user[farm][soy]" id="soy">
                                            <span class="input-group-text">ha</span>
                                          </div>

                                          <label for="corn" class="mt-3">Milho<span class="text-red"> *</span></label>
                                          <div class="input-group-append">
                                            <input type="number" class="bg-light form-control" name="user[farm][corn]" id="corn">
                                            <span class="input-group-text">ha</span>
                                          </div>

                                          <label for="cotton" class="mt-3">Algodão<span class="text-red"> *</span></label>
                                          <div class="input-group-append">
                                            <input type="number" class="bg-light form-control" name="user[farm][cotton]" id="cotton">
                                            <span class="input-group-text">ha</span>
                                          </div>

                                          <label for="other" class="mt-3">Outras culturas</label>
                                          <div class="input-group-append">
                                            <input type="number" class="bg-light form-control" name="user[farm][otherCultivations]" id="other">
                                            <span class="input-group-text">ha</span>
                                          </div>

                                          <label for="wpp" class="mt-3">Pode se comunicar comigo por whatsapp?<span class="text-red"> *</span></label>
                                          <div class="d-block text-center">
                                            <label><input type="radio" value="Sim" name="user[wpp]">Sim</label>
                                            <label><input type="radio" value="Não" class="ml-5" name="user[wpp]">Não</label>
                                          </div>

                                          <label for="stateRegistration" class="mt-3">Inscrição Estadual<span class="text-red"> *</span></label>
                                          <input type="text" class="bg-light form-control" name="user[stateRegistration]" id="stateRegistration">

                                          <div class="row justify-content-center mt-4" id="form-buttons">
                                            <div class="form-group col-12 row justify-content-between">
                                              <div class="termsOfUse">
                                                <div class="text-center font-light">DIREITOS</div>
                                                <div class="font-light">
                                                  O comprador tem o direito a arrependimento do negócio em um prazo de 7 dias após o recebimento da mercadoria (mesmo tendo pago antecipado)  com o direito a receber todo o valor pago atualizado de acordo com a lei CDC 8079/90.
                                                  Todos os vendedores da Plataforma são empresas devidamente constituídas e registradas na junta comercial e devem fornecer notas fiscais, receituário Agronômico, local para descartes de embalagens e orientação  técnica sobre a utilização dos produtos.
                                                  Tem o direito de saber de qual empresa está comprando no momento da efetivação do pagamento do boleto.
                                                  O produtor rural tem o direito a escolher um franqueado,  para ajuda-lo nas tomadas de decisão, sem custo financeiro.
                                                  Receber relatórios atualizados periodicamente para acompanhar o andamento das cotações.
                                                </div>
                                                <div class="text-center">DEVERES</div>
                                                <div class="font-light">
                                                  Todas as compras feitas através da MEGAPOOL, são para pagamentos á vista, realizados diretamente para o vendedor ou fabricante do produto, via boleto bancário.
                                                  Ter responsabilidade sobre os volumes cotados, pois todos produtores daquele grupo depende dos volumes cotados para ter poder de compra.
                                                  Após emitido o pedido e boleto de pagamento, realizar o pagamento no prazo determinado.
                                                </div>
                                              </div>
                                            </div>
                                          </div>

                                          <div class="form-group col-12 row justify-content-between mx-auto">
                                            <label class="mt-3 ml-2"><input type="checkbox" class="mr-4" name="checkbox" value="check" required>CONFIRMO OS DADOS ACIMA COMO VERDADEIROS E DESEJO RECEBER O(S) TERMO(S) DE
                                              USO POR E-MAIL PARA DAR CONTINUIDADE AO MEU CADASTRO</label>
                                              <button type="submit" class="pure-button pure-button-primary col-6 btn btn-default bg-green text-dark mr-1 font-light">Enviar</button>
                                              <button type="reset" class="col btn btn-default bg-light text-dark font-light">Limpar</button>
                                            </div>
                                          </form>
                                        </div>


                                        <!-- Para Franqueado -->
                                        <div class="form-group franchisee-option d-none font-light">
                                          <form action="/signup" class="pure-form" method="POST">

                                            <label for="name" class="mt-3">Nome completo<span class="text-red"> *</span></label>
                                            <input type="text" class="bg-light form-control" name="user[name]" id="name" required>

                                            <label for="mail" class="mt-3">Email<span class="text-red"> *</span></label>
                                            <input type="email" class="bg-light form-control" name="user[email]" id="mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>

                                            <label for="password" class="mt-3">Senha<span class="text-red"> *</span></label>
                                            <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Digite uma senha com no mínimo 8 caracteres. Crie uma senha forte.">
                                              ?
                                            </button>
                                            <input type="password" class="bg-light form-control" name="user[password]" minlength="8" id="password" required>

                                            <label for="confirmPassword" class="mt-3">Confirme a senha<span class="text-red"> *</span></label>
                                            <input type="password" class="bg-light form-control" minlength="8" id="confirmPassword" required>

                                            <label for="doc" class="mt-3">CPF/CNPJ<span class="text-red"> *</span></label>
                                            <button type="button" class="btn btn-sm btn-success" data-placement="top" title="É possível criar apenas uma conta por CPF/CNPJ.">
                                              ?
                                            </button>
                                            <input type="number" class="bg-light form-control" name="user[doc]"id="doc" maxlength="11" pattern="[0-9]+$" placeholder="Apenas números" required>

                                            <label for="cep" id="cep2" class="mt-3">CEP<span class="text-red"> *</span></label>
                                            <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Digite apenas números. Assim que preencher, lembre de clicar no botão Pesquisar.">
                                              ?
                                            </button>
                                            <input type="search" class="bg-light form-control" name="user[address][cep]" id="cep2" placeholder="Apenas números" maxlength="8" pattern="[0-9]+$" required>
                                            <div class="text-center mt-3">
                                              <button type="button" class="btn bg-green px-5 text-dark font-light" onclick="pesquisacep(cep2.value)">Pesquisar</button>
                                            </div>

                                            <label for="name" class="mt-2">Rua<span class="text-red"> *</span></label>
                                            <input id="rua2" name="user[address][street]" class="form-control" placeholder="" required="" type="text">

                                            <label for="number" class="mt-3">Número<span class="text-red"> *</span></label>
                                            <input type="text" class="bg-light form-control" name="user[address][number]" id="number2" required>

                                            <label for="name" class="mt-3">Cidade<span class="text-red"> *</span></label>
                                            <input id="cidade2" name="user[address][city]" class="form-control" placeholder="" required="" type="text">

                                            <label for="name" class="mt-3">Estado<span class="text-red"> *</span></label>
                                            <input id="estado2" name="user[address][state]" class="form-control" placeholder="" required="" type="text">

                                            <input type="hidden" class="bg-light form-control" name="user[type]" value="Franqueado" id="type" readonly>

                                            <label for="phone" class="mt-3">Telefone fixo<span class="text-red"> *</span></label>
                                            <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Digite apenas números, que o texto se auto-formatará. Lembre-se do DDD da sua região. Ex: 22998769876">
                                              ?
                                            </button>
                                            <input type="tel" class="bg-light form-control" name="user[phone]"id="phone" maxlength="12" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## ####-####', this)" required>

                                            <label for="cellphone" class="mt-3">Celular<span class="text-red"> *</span></label>
                                            <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Digite apenas números, que o texto se auto-formatará. Lembre-se do DDD da sua região. Ex: 22998769876">
                                              ?
                                            </button>
                                            <input type="tel" class="bg-light form-control" name="user[cellphone]"id="cellphone" maxlength="13" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## #####-####', this)" required>

                                            <div class="text-center mt-3">
                                              <a type="button" class="btn bg-green px-5 text-dark font-light" id="franchiseeOption" name="button">Mais informações</a>
                                            </div>

                                            <label for="activities"  class="mt-3">Faça um resumo de suas atividades profissionais atuais<span class="text-red"> *</span></label>
                                            <textarea class="form-control bg-light" rows="5" name="user[activities]" id="activities" required></textarea>

                                            <label for="actualCustomers" class="mt-3">Já tem uma carteira de clientes que cotam produtos com você?<span class="text-red"> *</span></label>
                                            <div class="d-block text-center">
                                              <label><input type="radio" name="user[actualCustomers]" value="Sim">Sim</label>
                                              <label><input type="radio" name="user[actualCustomers]" value="Não" class="ml-5" >Não</label>
                                            </div>

                                            <label for="possibleCustomers" class="mt-3">Já tem uma carteira de cliente que podem vir a cotar produtos com você?<span class="text-red"> *</span></label>
                                            <div class="d-block text-center">
                                              <label><input type="radio" name="user[possibleCustomers]" value="Sim">Sim</label>
                                              <label><input type="radio" name="user[possibleCustomers]" value="Não" class="ml-5" >Não</label>
                                            </div>

                                            <label for="important" class="mt-3">Faça um resumo de como a Megapool poderia ser importante para o seu negócio</label><span class="text-red"> *</span>
                                            <textarea class="form-control bg-light" rows="5" name="user[whyIsMegapoolImportant]" id="important" required></textarea>

                                            <div class="form-group col-12 row justify-content-between mx-auto">
                                              <label class="mt-3 ml-2"><input type="checkbox" class="mr-4" name="checkbox" value="check" required>CONFIRMO OS DADOS ACIMA COMO VERDADEIROS E OS ENCAMINHO PARA ANÁLISE DO
                                                MEU PERFIL E DESEJO RECEBER OS DETALHES SOBRE REMUNERAÇÃO DO FRANQUEADO,
                                                TABELAS DE COMISSÕES, TERMOS DE USO E CONTRATO POR E-MAIL PARA DAR
                                                CONTINUIDADE AO PROCESSO DE FRANQUEAMENTO</label>
                                                <button type="submit" class="pure-button pure-button-primary col-6 btn btn-default bg-green text-dark mr-1 font-light">Enviar</button>
                                                <button type="reset" class="col btn btn-default bg-light text-dark font-light">Limpar</button>
                                              </div>
                                            </form>
                                          </div>

                                          <!-- Para Revenda -->
                                          <div class="form-group dealer-option d-none font-light">
                                            <form action="/signup" class="pure-form" method="POST">

                                              <label for="name" class="mt-3">Nome completo<span class="text-red"> *</span></label>
                                              <input type="text" class="bg-light form-control" name="user[name]" id="name" required>

                                              <label for="mail" class="mt-3">Email<span class="text-red"> *</span></label>
                                              <input type="email" class="bg-light form-control" name="user[email]" id="mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>

                                              <label for="password" class="mt-3">Senha<span class="text-red"> *</span></label>
                                              <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Digite uma senha com no mínimo 8 caracteres. Crie uma senha forte.">
                                                ?
                                              </button>
                                              <input type="password" class="bg-light form-control" name="user[password]" minlength="8" id="password" required>

                                              <label for="confirmPassword" class="mt-3">Confirme a senha<span class="text-red"> *</span></label>
                                              <input type="password" class="bg-light form-control" minlength="8" id="confirmPassword" required>

                                              <label for="doc" class="mt-3">CPF/CNPJ<span class="text-red"> *</span></label>
                                              <button type="button" class="btn btn-sm btn-success" data-placement="top" title="É possível criar apenas uma conta por CPF/CNPJ.">
                                                ?
                                              </button>
                                              <input type="number" class="bg-light form-control" name="user[doc]"id="doc" maxlength="11" pattern="[0-9]+$" placeholder="Apenas números" required>

                                              <label for="cep" class="mt-3">CEP<span class="text-red"> *</span></label>
                                              <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Digite apenas números. Assim que preencher, lembre de clicar no botão Pesquisar.">
                                                ?
                                              </button>
                                              <input type="search" class="bg-light form-control" name="user[address][cep]" id="cep3" placeholder="Apenas números" maxlength="8" pattern="[0-9]+$" required>
                                              <div class="text-center mt-3">
                                                <button type="button" class="btn bg-green px-5 text-dark font-light" onclick="pesquisacep(cep3.value)">Pesquisar</button>
                                              </div>

                                              <label for="name" class="mt-2">Rua<span class="text-red"> *</span></label>
                                              <input id="rua3" name="user[address][street]" class="form-control" placeholder="" required="" type="text">

                                              <label for="number" class="mt-3">Número<span class="text-red"> *</span></label>
                                              <input type="text" class="bg-light form-control" name="user[address][number]" id="number3" required>

                                              <label for="name" class="mt-3">Cidade<span class="text-red"> *</span></label>
                                              <input id="cidade3" name="user[address][city]" class="form-control" placeholder="" required="" type="text">

                                              <label for="name" class="mt-3">Estado<span class="text-red"> *</span></label>
                                              <input id="estado3" name="user[address][state]" class="form-control" placeholder="" required="" type="text">

                                              <input type="hidden" class="bg-light form-control" name="user[type]" value="Revendedor" id="type" readonly>

                                              <label for="phone" class="mt-3">Telefone fixo<span class="text-red"> *</span></label>
                                              <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Digite apenas números, que o texto se auto-formatará. Lembre-se do DDD da sua região. Ex: 22998769876">
                                                ?
                                              </button>
                                              <input type="tel" class="bg-light form-control" name="user[phone]"id="phone" maxlength="12" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## ####-####', this)" required>

                                              <label for="cellphone" class="mt-3">Celular<span class="text-red"> *</span></label>
                                              <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Digite apenas números, que o texto se auto-formatará. Lembre-se do DDD da sua região. Ex: 22998769876">
                                                ?
                                              </button>
                                              <input type="tel" class="bg-light form-control" name="user[cellphone]"id="cellphone" maxlength="13" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## #####-####', this)" required>

                                              <div class="text-center mt-3">
                                                <a type="button" class="btn bg-green px-5 text-dark font-light" id="dealerOption" name="button">Mais informações</a>
                                              </div>

                                              <label for="Fname" class="mt-3">Nome fantasia<span class="text-red"> *</span></label>
                                              <input type="text" class="bg-light form-control" name="user[fantasyName]" id="Fname" required>

                                              <label for="otherEmail" class="mt-3">E-mail de contato<span class="text-red"> *</span></label>
                                              <input type="email" class="bg-light form-control" name="user[secondaryEmail]"id="otherEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>

                                              <label for="responsible" class="mt-3">Quem ficará responsável pela conta MEGAPOOL<span class="text-red"> *</span></label>
                                              <input type="text" class="bg-light form-control" name="user[responsible][name]"id="responsible" required>

                                              <h5 class="mt-4 mb-4 text-center font-light">Revendas devem fazer o cadastro separado de cada filial</h5>
                                              <label class="mt-3">Tem condições de atender demandas imediatas (estoque)?<span class="text-red"> *</span></label>
                                              <div class="d-block text-center">
                                                <label><input type="radio" name="user[delivery][stock]" value="Sim">Sim</label>
                                                <label><input type="radio" class="ml-5" name="user[delivery][stock]" value="Não" >Não</label>
                                              </div>

                                              <label for="acceptDeliver" class="mt-3">Aceita entregar a uma distância de até: <span class="text-red"> *</span></label>
                                              <div class="input-group-prepend">
                                                <input type="number" class="bg-light form-control" name="user[delivery][maxDistance]" min="0" step="50" id="acceptDeliver">
                                                <span class="input-group-text">km</span>
                                              </div>

                                              <label for="Lphone" class="mt-3">Telefone do responsável pela logística<span class="text-red"> *</span></label>
                                              <input type="tel" class="bg-light form-control" name="user[logistics][phone]"id="Lphone" maxlength="12" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## ####-####', this)" required>

                                              <label for="Lemail" class="mt-3">E-mail logística<span class="text-red"> *</span></label>
                                              <input type="email" class="bg-light form-control" name="user[logistics][email]"id="Lemail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>

                                              <label for="headquarter" class="mt-3">Município sede da matriz<span class="text-red"> *</span></label>
                                              <input type="text" class="bg-light form-control" name="user[headquarter]" id="headquarter" required>

                                              <label for="regionalResponsible" class="mt-3">Responsável pela empresa na região<span class="text-red"> *</span></label>
                                              <input type="text" class="bg-light form-control" name="user[regionalResponsible]" id="regionalResponsible">

                                              <label for="Rphone" class="mt-3">
                                                Telefone fixo do Responsável pela conta MEGAPOOL
                                                <span class="text-red"> *</span>
                                                <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Digite apenas números, que o texto se auto-formatará. Lembre-se do DDD da sua região. Ex: 22998769876">
                                                  ?
                                                </button>
                                              </label>
                                              <input type="tel" class="bg-light form-control" name="user[responsible[phone]"id="Rphone" maxlength="12" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## ####-####', this)" required>

                                              <label for="Rcellphone" class="mt-3">
                                                Celular do Responsável pela conta MEGAPOOL
                                                <span class="text-red"> *</span>
                                                <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Digite apenas números, que o texto se auto-formatará. Lembre-se do DDD da sua região. Ex: 22998769876">
                                                  ?
                                                </button>
                                              </label>
                                              <input type="tel" class="bg-light form-control" name="user[responsible][cellphone]"id="Rcellphone" maxlength="13" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## #####-####', this)" required>

                                              <label for="whereIsStock" class="mt-3">Onde possui o estoque físico mais próximo? <span class="text-red"> *</span></label>
                                              <input type="text" class="bg-light form-control" placeholder="Nome do município" name="user[whereIsStock]"id="whereIsStock" required>

                                              <label for="Istate" class="mt-3">Quais estados tem interesse e condições de atender?<span class="text-red"> *</span></label>
                                              <input type="text" class="bg-light form-control" name="user[interestedStates]"id="Istate" required>

                                              <label class="mt-3">Tem interesse em atender clientes diretos (com entregas fracionadas)?<span class="text-red"> *</span></label>
                                              <div class="d-block text-center">
                                                <label><input type="radio" value="Sim" name="user[delivery][fractional]">Sim</label>
                                                <label><input type="radio" value="Não" class="ml-5" name="user[delivery][fractional]">Não</label>
                                              </div>

                                              <label class="mt-3">Tem interesse em atender revendas?<span class="text-red"> *</span></label>
                                              <div class="d-block text-center">
                                                <label><input type="radio" value="Sim" name="user[delivery][dealer]">Sim</label>
                                                <label><input type="radio" value="Não" class="ml-5" name="user[delivery][dealer]">Não</label>
                                              </div>

                                              <label class="mt-3">Tem interesse em atender grupos de compras?<span class="text-red"> *</span></label>
                                              <div class="d-block text-center">
                                                <label><input type="radio" value="Sim" name="user[delivery][groups]">Sim</label>
                                                <label><input type="radio" value="Não" class="ml-5" name="user[delivery][groups]">Não</label>
                                              </div>

                                              <label class="mt-3">Tem interesse em atender repiques com entregas no máximo até 30 dias?<span class="text-red"> *</span></label>
                                              <div class="d-block text-center">
                                                <label><input type="radio" value="Sim" name="user[delivery][repechage]">Sim</label>
                                                <label><input type="radio" value="Não" class="ml-5" name="user[delivery][repechage]">Não</label>
                                              </div>

                                              <div class="row justify-content-center mt-4">
                                                <div class="form-group col-12 row justify-content-between">
                                                  <div class="termsOfUse">
                                                    <div class="text-center font-light">DIREITOS</div>
                                                    <ul class="justify-content">
                                                      <li class="font-light"> Todos os pagamentos serão adiantados, antes da entrega, diretamente do cliente para a revenda, seguindo todos os passos necessários: proposta, pedido, pagamento do boleto,  confirmação do pagamento e entregas dos produtos.</li>
                                                      <li class="font-light">Todas as revendas  cadastrada na plataforma terão o mesmo direito de anunciar seus produtos,  o que vai determinar a escolha será o produto que estará sendo ofertado e o preço oferecido, (o menor preço aparece na frente)  em caso de ofertas no mesmo preço, irá aparecer todas as opções com mesmo preço, porém a ordem é determinada por uma avaliação de grau de reputação do vendedor, para auxiliar o comprador a escolher, já que nesse momento o comprador ainda não tem o nome da revenda.</li>
                                                      <li class="font-light">A revenda sempre saberá quem são os compradores no momento do pedido, bem como outras informações que sejam relevantes podem ser solicitadas á plataforma, para promover um pós venda e tentar fidelizar o cliente.</li>
                                                      <li class="font-light">Somente as revendas tem o direito de ofertar seus produtos para o mercado de demanda imediata utilizando seu estoque, para entregas em até 48 h após o pagamento, podendo também participar das vendas para entregas em até 30 dias, nesse caso algumas indústrias também podem participar, para cotações para safra e safrinha  as revendas podem participar somente se a revenda for distribuidor exclusivo para a região e o fabricante não tenham vendas diretas, neste caso deverá avisar a plataforma que analisará caso a caso.</li>
                                                      <li class="font-light">As revendas também podem comprar pela plataforma, inserindo suas demandas e somando aos volumes de todo o Brasil para a negociação com a indústria.</li>
                                                      <li class="font-light">TERÁ DIREITO DE PARTICIPAR DOS PROGRAMAS MEGA PRÊMIO E MEGA OPORTUNIDADE QUE SERÁ EXPLICADO POSTERIORMENTE VIA E-MAIL.</li>
                                                      <li class="mb-5 font-light">Tem o direito de receber relatórios periódicos de como anda suas operações na plataforma:  ofertas,  demandas e cotações de seus produtos, bem como algumas informações gerais que serão passadas pela plataforma, sobre o mercado de insumos na região.</P>
                                                      </ul>

                                                      <div class="text-center">DEVERES</div>
                                                      <ul>
                                                        <li class="font-light">Fica acordado que todos os valores de produtos anunciados na plataforma deverá ser em Dolár (U$) americano, sua conversão em reais acontecerá no momento
                                                          da emissão do boleto pelo vendedor, sendo convertido pelo valor do Dolar PTAX de venda do dia anterior. Utilizando como referência valores fornecidos pelo Banco central
                                                          do BRASIL.</li>
                                                          <li class="font-light">A revenda tem o dever de cumprir com o que ofertar na plataforma: sob pena de lei, itens como; preços, volumes, entregas, além de manter sempre atualizado as ofertas dos produtos e confirmar o estoque a cada efetivação de pedido, etc.</li>
                                                          <li class="font-light">Tem o dever de entregar os produtos diretamente aos clientes (sem custo adicional ao cliente), com notas fiscais, receituário agronômico e orientação sobre local de devolução de embalagens vazias, além de se responsabilizar pelo pós venda e assistência técnica se for necessário.</li>
                                                          <li class="font-light">Somente em caso de escolha do cliente em retirar o produto na revenda,  não será obrigatória a entrega.</li>
                                                          <li class="font-light">Todos os produtos são ofertados com seus preços em DÓLAR, devendo ser convertido em
                                                            REAIS no momento da emissão do boleto utilizando a cotação do PTAX do dia anterior, conforme cotação do Banco Central do Brasil.</li>
                                                            <li class="font-light">Todos os lotes de produtos deverão aparecer na nota fiscal  e será rastreado para evitar ofertas de produtos de origem ilícita, caso seja encontrado irregularidades sobre no lote do produto a queixa seguirá diretamente as autoridades policiais, a revenda é totalmente responsável pela origem e qualidade dos produtos comercializados.</li>
                                                            <li class="font-light">No caso das compras, a revenda não pode utilizar a plataforma somente para especulação,  adicionando suas demandas e retirando no momento do fechamento somente para ter acesso a preços, sem motivo justificável, isso prejudica outros revendedores que estavam dependendo do seu volume para ter poder de barganha e pode prejudicar todo o setor, essa ação pode remeter a penalidades além de pesar negativamente em sua reputação como vendedor.</li>
                                                            <li class="font-light">Deve  estar ciente a regras que se aplica a vendas pela internet, de acordo com o código de defesa do consumidor:
                                                              <li class="font-light">O comprador tem o direito a arrependimento do negócio em um prazo de 7 dias após o recebimento da mercadoria
                                                                (mesmo tendo pago antecipado) com o direito a receber todo o valor pago, sem burocracia, de acordo com o art: 49 da lei CDC 8078/90.</li>
                                                                <li class="font-light">A plataforma cobrará a comissão correspondente sobre as vendas no
                                                                  ato da compra.</li>
                                                                  <p>PAGAR AS COMISSÕES Á PLATAFORMA, SOBRE O VOLUME DE VENDAS EFETIVADO, OS PAGAMENTOS SÃO REALIZADOS ATRAVÉS DE BOLETOS EMITIDOS NO MOMENTO
                                                                    EM QUE É FEITO A COMPRA Á REVENDA (não podendo ser cancelado), SUJEITO A PROTESTO E NEGATIVAÇÃO.</p>
                                                                  </div>
                                                                  <div class="form-group col-12 row justify-content-between mx-auto">
                                                                    <label class="mt-3 ml-2"><input type="checkbox" class="mr-4" name="checkbox" value="check" required>CONFIRMO OS DADOS ACIMA COMO VERDADEIROS E DESEJO RECEBER AS TABELAS DE
                                                                      COMISSÕES E TERMO(S) DE USO POR E-MAIL PARA DAR CONTINUIDADE AO MEU CADASTRO</label>
                                                                      <button type="submit" class="pure-button pure-button-primary col-6 btn btn-default bg-green text-dark mr-1 font-light">Enviar</button>
                                                                      <button type="reset" class="col btn btn-default bg-light text-dark font-light">Limpar</button>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </form>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>

                                                    {{#section 'scripts'}}
                                                    <script src="/javascripts/signup.js"></script>
                                                    <script>
                                                    $(function () {
                                                      $('[data-toggle="tooltip"]').tooltip()
                                                    });
                                                    </script>
                                                    {{/section}}
